.writing-blocks-card .selected-words,
.writing-blocks-card .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    min-height: 4em;
    border: 1pt solid var(--oe-clr-border);
    padding: 1em;
}

.writing-blocks-card .selected-words {
    margin-top: 2em;
}

.writing-blocks-card .options {
    margin-bottom: 2em;
    justify-content: center;
}

.writing-blocks-card hr {
    height: 1em;
    width: 100%;
    border: 0;
    margin: 1em 0;
    opacity: 50%;
    text-align: center;
}

.writing-blocks-card hr:before {
    content: '▲'
}