/* Home.css */

#home .titles {
    text-align: center;
    margin-bottom: 2em;
}

#home h1 {
    margin-top: 0;
    font-size: 250%;
    font-weight: 900;
}

#home a {
    color: var(--oe-clr-fg);
}

#home footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    opacity: 80%;
    font-size: smaller;
    margin-top: 2em;
}

#home footer button {
    font-size: 80%;
    padding: 0.6em 1em;
    border-radius: 4pt;
}

#home .version {
    font-weight: 200;
}