.hamburger-button {
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 150%;
    font-weight: normal;
    opacity: 66%;
    color: var(--oe-clr-fg);
}

.hamburger-button:hover {
    outline: none !important;
    font-weight: bolder;
    opacity: 100%;
}

/* .hamburger-icon {} */

.hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    margin: 0;
    padding: 0;
    color: var(--oe-clr-card-fg);
    background-color: var(--oe-clr-bg);
    border: 1pt solid var(--oe-clr-border);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.hamburger-menu.open {
    display: flex;
}

.hamburger-menu .card {
    min-width: calc(var(--oe-max-width) - 2em);
    padding: 1em;
    margin: 1em;
    background-color: var(--oe-clr-modal-bg);
    border: 1pt solid var(--oe-clr-border);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hamburger-menu .card h1 {
    align-self: center;
    font-style: italic;
    opacity: 50%;
    font-family: "Junicode";
    width: unset;
    font-size: calc(100vw / 12);
}

.hamburger-menu h2 {
    align-self: center;
}

.hamburger-menu nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    justify-items: center;
    text-align: left;
    width: 100%;
}

.hamburger-menu li {
    list-style: none;
    margin: 0.3em 0;
}

.hamburger-menu li button {
    font-size: 14pt;
    font-weight: 100;
    background-color: var(--oe-clr-card-bg);
    display: block;
    width: 100%;
    padding-right: 1em;
    text-decoration: none;
    border: 0;
    white-space: nowrap;
    text-align: left;
}

.hamburger-menu li.selected button {
    font-weight: bolder;
}

.hamburger-menu li button:before {
    content: '▶ ';
    opacity: 0;
}

.hamburger-menu li.selected button:before {
    opacity: 50%;
}

.hamburger-menu li button:disabled {
    background-color: var(--oe-clr-card-bg) !important;
}

.hamburger-menu h2 {
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.hamburger-menu .reset-course {
    margin-top: 2em;
}


.hamburger-menu footer {
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hamburger-menu small {
    opacity: 50%;
}

.hamburger-menu .next-button {
    font-size: 12pt;
    margin: 1em 0;
    max-width: 10em;
}