.hamburger-button {
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 150%;
    font-weight: normal;
    opacity: 66%;
    color: var(--oe-clr-fg);
}

.hamburger-button:hover {
    outline: none !important;
    font-weight: bolder;
    opacity: 100%;
}

/* .hamburger-icon {} */

.hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    margin: 0;
    padding: 0;
    color: var(--oe-clr-card-fg);
    background-color: var(--oe-clr-bg);
    border: 1pt solid var(--oe-clr-border);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.hamburger-menu.open {
    display: flex;
}

.hamburger-menu .card {
    max-width: calc(var(--oe-max-width) - 2em);
    padding: 1em;
    margin: 1em;
    background-color: var(--oe-clr-modal-bg);
    border: 1pt solid var(--oe-clr-border);
}

.hamburger-menu h1,
.hamburger-menu h2 {
    align-self: center;
}

.hamburger-menu h2 {
    align-self: center;
}

.hamburger-menu nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hamburger-menu li {
    list-style: none;
}

.hamburger-menu li a,
.hamburger-menu li button {
    font-size: 14pt;
    font-weight: 100;
    background-color: var(--oe-clr-card-bg);
    display: block;
    width: 100%;
    text-decoration: none;
    border: 0;
    white-space: nowrap;
    text-align: left;
}

.hamburger-menu li a:hover {
    background-color: #555;
}

.hamburger-menu li.selected button {
    font-weight: bolder;
}

.hamburger-menu li button:before {
    content: '▶ ';
    opacity: 0;
}

.hamburger-menu li.selected button:before {
    opacity: 50%;
}

.hamburger-menu li button:disabled {
    background-color: var(--oe-clr-card-bg) !important;
}

.hamburger-menu .about {
    margin-top: 1em;
}

.hamburger-menu .about p {
    font-size: 12pt;
}

.hamburger-menu .about h2 {
    font-weight: 200;
}

.hamburger-menu .about p {
    font-size: 1em;
    font-weight: light;
}

.hamburger-menu .about footer {
    margin-top: 2em;
}

.hamburger-menu .next-button {
    margin-top: 2em;
    font-size: 12pt;
}