.animated-text {
    letter-spacing: -0.8em;
    opacity: .4 !important;
    transition: all 6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.animated-text.visible {
    letter-spacing: 0;
    opacity: 1 !important;
}