/* Styling for the answer row */
.answer-list {
    display: flex;
    flex-direction: column;
}

.answer-row {
    display: flex;
    align-items: center;
    gap: 0.6em;
    margin-bottom: 0.5em;
    color: var(--oe-clr-card-fg);
}

.boolean-text button:hover {
    opacity: 0.8;
}

.boolean-text .add-new {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.boolean-text .add-new button {
    font-size: 24px;
    margin-left: 10px;
}

.boolean-text button:focus {
    outline: none;
}