/* Styling for the answer row */
.edit-card-modal .answer-row {
    display: flex;
    align-items: center;
    gap: 0.6em;
    margin-bottom: 0.5em;
    color: var(--oe-clr-card-fg);
}

.edit-card-modal .form-field button {
    padding: 0 0.2em;
    width: auto;
}

.form-field label {
    display: flex;
    gap: 0.3em;
    font-size: xx-small;
    font-weight: 100;
    font-variant: small-caps;
    text-transform: uppercase;
}

.form-field [type="text"] {
    flex: 1;
    border: 0;
    border-bottom: 1pt dotted var(--oe-clr-fg);
    color: var(--oe-clr-card-fg);
    letter-spacing: 0.1ch;
    padding: 0.3em;
    padding-bottom: 0;
}

.answer-label {
    align-items: center;
    justify-content: center;
}

.answer-label input {
    display: none;
}

/* Style the checkmark, and make it highlighted when the radio is selected */
.checkmark {
    font-size: 1.2em;
    padding: 0;
    opacity: 50%;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    width: 1.4em;
    height: 1.4em;
    min-height: 1.4em;
    max-height: 1.4em;
    max-width: 1.4em;
    min-width: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Highlight the checkmark when the radio button is selected */
.checkmark.selected {
    opacity: 100%;
}

/* Focus styles for when the radio button or the label is focused */
.answer-label:focus-within {
    background-color: var(--oe-clr-card-fg);
    border: 1px solid var(--oe-clr-card-bg);
    padding: 0.3em;
}















.boolean-text .answer-list {
    display: flex;
    flex-direction: column;
}

.boolean-text .answer-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.boolean-text .checkmark {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
    margin-left: 10px;
    transition: color 0.2s;
}

.boolean-text .checkmark.selected {
    color: green;
}

.boolean-text button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.boolean-text button:hover {
    opacity: 0.8;
}

.boolean-text .add-new {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.boolean-text .add-new button {
    font-size: 24px;
    margin-left: 10px;
}

.boolean-text button:focus {
    outline: none;
}