/* Confirm Dialog Overlay */
.modal-bg {
    align-content: center;
    align-items: center;
    background-color: var(--oe-clr-modal-bg);
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}


.modal-bg * {
    z-index: 1001;
}

.modal-bg h2 {
    margin-bottom: 1em !important;
}

.confirm-dialog {
    border: 1pt solid var(--oe-clr-border);
    background-color: var(--oe-clr-card-bg);
    color: var(--oe-clr-card-fg);
    padding: 1em;
    text-align: center;
    position: relative;
    top: -20vh;
}

.confirm-dialog .cancel-button {
    background-color: var(--oe-clr-card-bg);
    color: var(--oe-clr-card-fg);
    padding: 0 0.6em;
}

.confirm-dialog footer {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}