.card-editor {
    background: var(--oe-clr-card-bg);
    color: var(--oe-clr-card-fg);
    padding: 1em;
    max-width: 40em;
    margin: auto;
    border: 1pt solid var(--oe-clr-border);
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1200;
    flex-direction: column;
}

.card-editor.card section {
    width: 100%;
}

.card-editor section.question {
    margin-bottom: 1em;
    font-size: 166%;
}

.card-editor h2,
.card-editor h3 {
    padding: 0.6em;
    margin-bottom: 0.3em !important;
    border: 0.3pt solid var(--oe-clr-border);
}

.card-editor h2 {
    font-size: 1.2em;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0 2em;
    border: 0;
}

.card-editor h2 .close-editor {
    margin: 0;
    padding: 0;
}

.card-editor h3 {
    border: none;
    padding: 0.3em 0;
    margin-top: 1em;
    font-size: 120%;
}

.card-editor footer.modal-actions {
    padding: 1em;
    border: 0.3pt dotted var(--oe-clr-border);
}

.card-editor footer.modal-actions button {
    line-height: 200%;
    width: 100%;
    border: none;
}

.card-editor footer.modal-actions button:before {
    content: '';
}


.card-editor footer.modal-actions button:nth-of-type(1) {
    border-bottom: 1pt solid var(--oe-clr-border) !important;
}

.card-editor footer.modal-actions button:hover {
    color: var(--oe-clr-primary-fg);
    border-bottom: 1pt solid var(--oe-clr-fg) !important;
    background: var(--oe-clr-primary-bg);
    color: var(--oe-clr-primary-fg);
}

.card-editor textarea,
.card-editor input {
    border: 1pt dotted transparent;
    color: var(--oe-clr-card-fg);
    padding: 0.3em;
    font-family: Junicode;
    line-height: 133%;
}

.card-editor input {
    font-size: 1em;
    border-color: var(--oe-clr-border);
    border-radius: 0;
}

.card-editor textarea {
    border-color: var(--oe-clr-border);
    width: 100%;
    min-height: 4em;
    margin-top: 0.3em;
    font-size: 14pt;
}

.actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#add-option-button,
#add-answer-button {
    width: auto;
    margin-left: auto;
    padding: 1em;
    padding-right: 0.3em;
    font-size: 80%;
    border: 1pt solid var(--oe-clr-border);
}

.card-editor.multiple-choice .answer-section {
    display: none;
}

.card-editor .option-item {
    display: flex;
    gap: 1em;
    width: 100%;
    padding: 0.3em;
    justify-content: space-between;
    align-items: center;
}