.multiple-choice .options {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3em;
}

.multiple-choice .multiple-choice-button {
    width: 100%;
    margin-top: 1em;
    text-align: center;
}