.vocab-match h3 {
    margin-top: 0;
}

.vocab-match table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: auto;
}

.vocab-match td {
    padding: 0.3em;
    width: 50%;
}

.vocab-match td button {
    text-align: center;
}

.vocab-match .next-button {
    margin-top: 10px;
    width: 100%;
}

.vocab-match button.vocab-match {
    width: 100%;
}