[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "my-icons";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  margin-left: .2em;
  margin-right: .2em;
  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: '\e800';
}

.icon-pencil:before {
  content: '\e801';
}

.icon-trash:before {
  content: '\e802';
}

.icon-spin6:before {
  content: '\e839';
}

.icon-ccw:before {
  content: '\f025';
}

.icon-download:before {
  content: '\f02e';
  margin-bottom: 1pt;
  font-size: 90%;
}

.icon-upload:before {
  content: '\f02f';
}