.about footer {
    font-family: Junicode;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    opacity: 50%;
    font-size: 10pt;
}