.about,
.about * {
    background-color: var(--oe-clr-card-bg);
    color: var(--oe-clr-card-fg);
}

.about {
    margin-top: 2em;
}

.about p {
    font-weight: normal;
    line-height: 160%;
    font-size: normal;
    font-style: normal;
}

.about footer {
    font-family: Junicode;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    opacity: 50%;
    font-size: 10pt;
}