/* LessonIntro.css */

.lesson-intro-footer,
.lesson-intro {
    width: 100%;
    height: auto;
}

.lesson-intro-footer {
    margin-bottom: auto;
    flex: 1;
}

.lesson-intro-footer .next-button {
    width: 10em;
    float: right;
    margin-left: auto;
    background-color: var(--oe-clr-primary-bg)
}

.lesson-intro h2 {
    font-size: 1em;
    font-weight: 100;
}

.lesson-intro h3 {
    font-weight: 700;
    font-size: 1.6em;
}

.lesson-intro .description {
    line-height: 150%;
    margin-bottom: auto;
}