.form-field {
    width: 100%;
}

.form-field label {
    display: flex;
    gap: 0.3em;
    font-size: xx-small;
    font-weight: 100;
    font-variant: small-caps;
    text-transform: uppercase;
}

.form-field [type="text"] {
    flex: 1;
    border: 0;
    border-bottom: 1pt dotted var(--oe-clr-fg);
    color: var(--oe-clr-card-fg);
    letter-spacing: 0.1ch;
    padding: 0.3em;
    padding-bottom: 0;
    width: 100%;
}

.form-field button {
    padding: 0 0.2em;
    width: auto !important;
    margin: 0;
    cursor: pointer;
    border-width: 0;
}


.large-icon-button {
    cursor: pointer;
    font-size: 150%;
    font-weight: 100;
    opacity: 66%;
    color: var(--oe-clr-fg);
    border-radius: 50%;
    min-width: 1em;
    min-height: 1em;
    max-width: 1em;
    max-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    margin: 0;
    border: none;
}

.large-icon-button:hover {
    outline: none !important;
    font-weight: bolder;
    opacity: 90%;
}

.large-icon-button.selected {
    color: green;
}