.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2pt;
    padding: 0.3em 0;
}

.form-field label {
    display: flex;
    gap: 0.3em;
    font-size: xx-small;
    font-weight: 100;
    font-variant: small-caps;
    text-transform: uppercase;
}

.form-field [type="text"] {
    flex: 1;
    border: 0;
    border-bottom: 1pt dotted var(--oe-clr-fg);
    color: var(--oe-clr-card-fg);
    letter-spacing: 0.1ch;
    padding: 0.3em;
    padding-bottom: 0;
    width: 100%;
}

.form-field button {
    padding: 0 0.2em;
    width: auto !important;
    margin: 0;
    cursor: pointer;
    border-width: 0;
}