@import './fonts.css';
@import './animations.css';
@import './form-field.css';

:root {
    --oe-clr-fg: #ddd;
    --oe-clr-bg: #001;
    --oe-clr-card-fg: #eee;
    --oe-clr-card-bg: #000027;
    --oe-clr-modal-bg: #000027EE;
    --oe-clr-border: #ddd5;
    --oe-clr-primary-fg: #eee;
    --oe-clr-primary-fg2: #9989;
    --oe-clr-highlight: blue;
    --oe-clr-primary-bg: var(--oe-clr-highlight);

    --oe-border-radius: 0.3em;

    --oe-fade-duration: 0.5s;
    --oe-fade-timing: ease-in-out;
    --fade-delay: 0s;

    --oe-max-width: 40rem;
}

:root,
html,
body,
#root {
    color: var(--oe-clr-fg);
    background-color: var(--oe-clr-bg);
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans';
    color: var(--oe-clr-fg);
    background-color: var(--oe-clr-bg);
}

body.editing-card {
    --oe-max-width: 55rem;
}

* {
    border-radius: var(--oe-border-radius);
}

[lang="ang"] {
    font-family: 'Junicode', serif;
    font-style: italic;
    font-size: 150%;
    line-height: 80%;
}

[lang="ang"] input,
[lang="ang"] textarea,
input[lang="ang"],
textarea[lang="ang"] {
    font-style: oblique;
}

[lang="en"] {
    font-family: 'Work Sans', sans;
}

[hidden] {
    display: none;
}

button,
a {
    color: var(--oe-clr-fg);
    background-color: var(--oe-clr-bg);
}


button {
    text-align: left;
    font-size: 125%;
    border: 1pt solid var(--oe-clr-border);
    padding: 0.3em;
    cursor: pointer;
    transition: background-color var(--oe-fade-duration) var(--oe-fade-timing), filter var(--oe-fade-duration) var(--oe-fade-timing);
}

button:not([disabled]):hover {
    outline: 1px solid var(--oe-clr-fg);
}

footer button {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* button:disabled:not(.correct):not(.incorrect) {
    background-color: #333;
    color: #666;
} */

button.correct[disabled],
button.incorrect[disabled] {
    opacity: 0.6;
    filter: brightness(80%);
}

button[disabled]:hover {
    cursor: default;
}

button.selected {
    border-color: var(--oe-clr-fg);
    filter: brightness(160%);
    border-color: var(--oe-clr-highlight);
}

button.selected[disabled] {
    filter: brightness(70%);
    opacity: 80%;
}

h2 {
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    font-weight: 200;
    font-size: 1em;
    margin: 0.3em 0 0.6em 0;
}

h4 {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    opacity: 60%;
}