[class^="utf8-icon-"]:before,
[class*="utf8-icon-"]:before {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    color: inherit;
    text-decoration: inherit;
    max-width: 1em;
    max-height: 1em;
    text-align: center;
    line-height: 1em;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.utf8-icon-new:before {
    content: '✨';
}

.utf8-icon-close:before {
    content: '✕';
}

.utf8-icon-menu:before {
    content: '☰';
}

.utf8-icon-tick:before {
    content: '✔';
}

.utf8-icon-add:before {
    content: '➕';
}