main header {
    transition: all var(--oe-fade-duration) var(--oe-fade-timing) var(--oe-fade-delay);
    margin-bottom: 0.3em;
}

main header .header-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 0.3em;
}

main header .header-text h1,
main header .header-text h2 {
    margin: 0;
    font-weight: normal;
    width: 100%;
}

main header h1 {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 200;
}

.header-progress,
.course-progress {
    width: 100%;
    height: 2pt;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.header-progress {
    margin-bottom: 0.2em;
}

main.lesson-active header {
    font-size: 0;
    margin-top: 0;
    opacity: 0;
    transition: all var(--oe-fade-duration) var(--oe-fade-timing) var(--oe-fade-delay);
}

main.lesson-active progress {
    font-size: 2pt;
    line-height: 2pt;
}

@media (max-width: 1024px) {
    /* main header h2 {
        display: none;
    } */

    main header .stats {
        font-size: 1.2em;
    }
}