 .about p {
     font-weight: normal;
     line-height: 160%;
 }

 .about footer {
     font-family: Junicode;
     font-style: italic;
     text-align: center;
     display: flex;
     align-items: baseline;
     justify-content: center !important;
 }