 .about p {
     font-weight: normal;
     line-height: 160%;
 }

 .about footer {
     font-family: Junicode;
     font-style: italic;
     text-align: center;
 }

 #home img {
     width: 30%;
     float: right;
     margin-left: 1em;
     margin-bottom: 1em;
     opacity: 40%;
 }