/* CourseOverview.css */
.modal-bg {
    background-color: red;
    ;
}

.course-overview {
    position: relative;
    padding: 4em;
    overflow: auto;
}

.course-overview header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 200%;
    margin: 1em;
}

.course-overview header h2 {
    font-size: 1em;
    padding-bottom: 0.1em;
}

.course-overview header h3 {
    font-size: 60%;
}

.course-overview section header {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.course-overview section header h4 {
    border-right: 1pt solid #555;
    height: 100%;
    padding-right: 1em;
}

.course-overview section header h4,
.course-overview section header h5 {
    font-size: 60%;
    font-weight: normal;
    font-weight: 200 !important;
    font-weight: normal;
}

.card-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    justify-content: space-between;
}

.card-holder .card h2,
.card-holder .card h3 {
    font-size: 200%;
}

.hamburger-menu li .course-overview header button {
    width: auto;
    display: flex;
    ;
}

.course-overview .cards {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: clamp(80em, 90vw, 80em);
}

.hamburger-menu nav li .course-overview button:before {
    content: '';
}

.hamburger-menu nav li.selected .course-overview button:before {
    opacity: inherit;
}


.card-holder {
    border: 1pt solid var(--oe-clr-border);
    height: 20em;
    margin: 1vw;
    overflow: hidden;
    display: inline-flex;
}

.hamburger-menu .card-holder .card {
    font-size: 50%;
    min-width: 20em;
    max-width: 20em;
    height: 25em;
    overflow: hidden;
    pointer-events: none;
    padding: 0;
    margin: 0;
}

.hamburger-menu .card-holder .card * {
    pointer-events: none;
    background-color: unset;
    color: black;
    border-color: black;
}

.card-holder.dragging {
    cursor: grabbing;
}

.card-holder .card button,
.card-holder .card button.option-button {
    display: inline-block;
    width: unset;
    border: 1pt solid var(--oe-clr-bg);
}

.card-holder h2,
.card-holder h3,
.card-holder h4,
.card-holder textarea::placeholder {
    color: var(--oe-clr-bg);
}

.card-holder .card input {
    border: 1pt solid var(--oe-clr-bg);
}

.card-holder .card textarea.answer,
.card-holder .card .selected-words {
    margin: 0;
    border: 1pt solid black;
    width: 100%;
}

.card-holder .card .selected-words {
    margin-bottom: 1em;
}

.card-holder .card .vocab-match.left-word {
    float: right;
    width: 100%;
    height: 2em;
    color: silver;
}

.card-holder .card .vocab-match.right-word {
    float: left;
    width: 100%;
    height: 2em;
    color: silver;
}

.card-holder .next-button,
.card-holder .correct-next-button,
.card-holder .incorrect-next-button {
    display: none;
}

.card-holder .card button.multiple-choice-button {
    margin: 0.25em;
    padding: 0.25em;
}

.card-holder #action-button {
    display: none;
}

.card-holder .card:hover {
    cursor: pointer;
}

.card-holder:hover {
    border-color: #555;
    cursor: pointer;
}

.card-holder .card .letter-buttons button {
    display: none;
}

.card-holder .card.multiple-choice {
    background: teal;
}

.card-holder .card.vocab-match {
    background: steelblue;
}

.card-holder .card.writing-card {
    background: rgb(88, 180, 70);
}

.card-holder .card.writing-blocks-card {
    background: rgb(173, 180, 70);
}

.card-holder .card.blanks-card {
    background: rgb(180, 92, 70);
}

.card-holder.dragging {
    opacity: 0.5;
}

.course-overview .card-holder {
    position: relative;
}

.course-overview .vertical-controls {
    position: relative;
    width: 100%;
}

.course-overview .top-controls {
    top: 0;
}

.course-overview .bottom-controls {
    /* top: 0.5em; */
}

.course-overview .horizontal-controls {
    display: flex;
    width: 100%;
    align-items: center;
}

.course-overview .vertical-controls button,
.course-overview .horizontal-controls button {
    color: transparent;
    width: 100%;
    text-align: center;
    padding: 1em;
}

.course-overview .vertical-controls button:hover,
.course-overview .horizontal-controls button:hover {
    outline: 0;
}

.course-overview .card-holder:hover .vertical-controls button:not([disabled]),
.course-overview .card-holder:hover .horizontal-controls button:not([disabled]) {
    color: white;
}

.hamburger-menu .card footer:not(.modal-actions),
.hamburger-menu .card footer.vocab-match-footer {
    display: none;
}