.edit-card-modal {
    background: var(--oe-clr-card-bg);
    color: var(--oe-clr-card-fg);
    padding: 1em;
    max-width: 600pt;
    margin: auto;
    border: 0.3pt solid var(--oe-clr-border);
}

.edit-card-modal h2,
.edit-card-modal h3 {
    padding: 0.6em;
    margin-bottom: 0.3em !important;
    border: 0.3pt solid var(--oe-clr-border);
}

.edit-card-modal h3 {
    border: none;
    padding: 0.3em 0;
    margin-top: 1em;
    font-size: 120%;
}

.edit-card-modal footer.modal-actions {
    padding: 1em;
    border: 0.3pt dotted var(--oe-clr-border);
}

.edit-card-modal footer.modal-actions button {
    line-height: 200%;
}

.edit-card-modal footer.modal-actions button:before {
    content: '';
}


.edit-card-modal footer.modal-actions button:nth-of-type(1) {
    border-bottom: 1pt solid var(--oe-clr-border) !important;
}

.edit-card-modal footer.modal-actions button:hover {
    color: var(--oe-clr-primary-fg);
    border-bottom: 1pt solid var(--oe-clr-fg) !important;
    background: var(--oe-clr-primary-bg);
    color: var(--oe-clr-primary-fg);
}


.edit-card-modal textarea {
    width: 100%;
    min-height: 4em;
    margin-top: 0.3em;
    padding: 0.6em;
    font-family: Junicode;
    font-size: 1.2em;
    line-height: 166%;
}

.edit-card-modal textarea,
.edit-card-modal input {
    border: 1pt dotted var(--oe-clr-border);
}

.actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#add-answer-button {
    width: auto;
    margin-left: auto;
    padding: 1em;
    padding-right: 0.3em;
    font-size: 80%;
    border: 1pt solid var(--oe-clr-border);
}

.edit-card-modal.multiple-choice .answer-section {
    display: none;
}