/* Home.css */

#home .titles {
    text-align: center;
    margin-bottom: 2em;
}

#home h1 {
    margin-top: 0;
    font-size: 250%;
    font-weight: 900;
}

#home h2 {
    font-size: 1.6em;
    font-weight: 200;
}

#home a {
    color: var(--oe-clr-fg);
}

.home-active .header-text {
    flex-direction: column;
}

.home-active .stats {
    padding: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1pt solid var(--oe-clr-border);
    background-color: var(--oe-clr-card-bg);
    width: 100%;
}

.home-active .stats h2 {
    text-align: left;
    font-style: normal;
    display: block;
    font-size: 1.6em;
}

.home-active .stats .correct-answers,
.home-active .stats .incorrect-answers,
.home-active .stats .questions-answered {
    font-size: 1em;
}

.correct-answers-value {
    color: green;
}

.incorrect-answers-value {
    color: red;
}

.questions-answered-value {
    color: cyan;
}


.home-active .stats .correct-answers-alt,
.home-active .stats .incorrect-answers-alt,
.home-active .stats .questions-answered-alt {
    margin-right: 1em;
    display: inline-block;
}

#home .version {
    margin-top: 2em;
    text-align: right;
    font-weight: 200;
    opacity: 80%;
    font-size: smaller;
}