.lesson-completed.card {
    justify-content: center;
}

.lesson-completed.card p {
    line-height: 160%;
}

.lesson-completed-footer {
    margin-top: 1em;
    flex: 1;
}

.lesson-completed-footer .next-button {
    width: auto;
    float: right;
}