/* Lesson.css */
.lesson h2 {
    margin-top: 0.3em;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1em;
    opacity: 60%;
}

.lesson progress {
    margin-top: 0;
    height: 2pt;
    width: 100%;
}

.lesson h2 {
    font-weight: light;
}

.lesson h2 em {
    font-weight: normal;
    font-style: normal;
}

.lesson h2 .close-button {
    float: right;
    text-align: center;
    font-size: 1em;
    padding: 1pt 4pt;
    border-radius: 50%;
    margin: 0;
    border: none;
}

.lesson h2 .close-button:hover {
    background-color: var(--oe-clr-fg);
    color: var(--oe-clr-bg);
}

.lesson h2 .close-button::after {
    content: '×';
}