/* LessonIntro.css */

.lesson-intro {
    width: 100%;
    margin-top: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.lesson-intro .about h2,
.lesson-intro .lesson-list h2,
.lesson-intro h2 {
    font-weight: 200;
    font-size: 1.3em;
}

.lesson-intro h3 {
    font-weight: 700;
    font-size: 2em;
}

.lesson-intro .description {
    text-align: center;
}

.lesson-intro .buttons {
    margin-top: 2em;
    float: right;
}

.lesson-intro .next-button {
    width: unset;
}