/* LessonIntro.css */

.lesson-intro {
    width: 100%;
    height: 100%;
}

.lesson-intro .next-button {
    width: 100%;
    margin-left: auto;
}

@media (min-height: 800px) {
    .lesson-intro .card {
        max-height: 40em;
    }
}

.lesson-intro .lesson-list h2,
.lesson-intro h2 {
    font-size: 1em;
    font-weight: 100;
}

.lesson-intro h3 {
    font-weight: 700;
    font-size: 1.6em;
}

.lesson-intro .description {
    line-height: 150%;
}