.stats-component {
    height: unset;
    flex: unset;
}

.stats-component h2 {
    font-weight: 300;
}

.stats-component th {
    font-weight: normal;
    text-align: left;
    font-size: normal;
}

.stats-component td.value {
    width: 2em;
    text-align: right;
}

.stats-component .correct-answers {
    color: green;
}

.stats-component .incorrect-answers {
    color: red;
}

.stats-component .questions-answered {
    color: cyan;
}