.stats-component {
    height: unset;
    max-height: 15em;
    flex: unset;
}

.stats-component h2 {
    font-weight: 300;
    margin-bottom: 0.5em;
}

.stats-component th {
    font-weight: normal;
    text-align: center;
    font-size: normal;
    text-transform: capitalize;
}

.stats-component td {
    font-size: xx-large;
    padding: 0.3em;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.stats-component td:hover,
.stats-component td:focus {
    font-size: xx-large;
    padding: 0.3em;
    opacity: 1;
}

.stats-component .correct-answers {
    background-color: var(--oe-clr-correct-bg);
    color: var(--oe-clr-correct-fg);
}

.stats-component .incorrect-answers {
    background-color: var(--oe-clr-incorrect-bg);
    color: var(--oe-clr-incorrect-fg);
}

.stats-component .questions-answered {
    background-color: var(--oe-clr-total-answered-bg);
    color: var(--oe-clr-total-answered-fg);
}

.horizontal-stats th,
.horizontal-stats td {
    text-align: center;
    color: var(--oe-clr-fg) !important;
}