.blanks-card h3 {
    margin: 1em;
}

.blanks-card h4 {
    margin-bottom: 1em;
}

.blanks-card .blank,
.blanks-card .blank-correct,
.blanks-card .provided-word {
    margin-right: 0.3em;
}

.blanks-card .word-options {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 3em;
    margin-bottom: 1em;
}

.blanks-card button.word-option {
    width: auto;
}

.blanks-card button.word-option.correct {
    border-color: #888;
    background-color: #333;
    color: #888;
}

.blanks-card .blank-correct {
    border: 1pt solid #888;
    padding: 0 0.3em
}