.add-lesson-button-component {
    display: flex;
}

.add-lesson-overlay {
    display: flex;
    background-color: var(--oe-clr-modal-bg);
    border: 1pt soild var(--oe-clr-border);
    position: relative;
    left: -2.5em;
}