/* CourseOverview.css */

.course-editor {
    --oe-ctrl-button-padding: 4pt;
}

.course-editor>header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 1em 0;
    padding: 0.8em 0.6em 0.3em;
    border: 1pt solid var(--oe-clr-border);
}

.course-editor>header h2 {
    font-weight: 400;
    opacity: 66%;
    margin-bottom: 0.3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.course-editor>header h2 q {
    margin-right: auto;
}

.course-editor>header h3 {
    font-weight: 200;
    margin-bottom: 1em;
}

.course-editor section header {
    flex-direction: row;
    align-items: baseline;
    gap: 1em;
    border: 1pt solid var(--oe-clr-border);
    padding: 1em;
    margin: 0 0 1em 0;
}

.course-editor section header h3 {
    font-weight: 300;
    font-size: 120%;
}

.course-editor>section>h4 {
    height: 100%;
    padding-right: 1em;
}

.course-editor>header .coourse-action-buttons {
    margin-left: auto;
    font-size: 80%;
}

.course-editor>header .coourse-action-buttons button {
    border: 1pt solid var(--oe-clr-border);
}

.course-editor>header .coourse-action-buttons button:hover {
    opacity: 99%;
}

.course-editor .lessons {
    width: var(--oe-max-width);
    max-width: var(--oe-max-width);
    margin-left: calc((var(--oe-max-width) - var(--oe-max-width)) / 2 * -1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.course-editor>h4,
.course-editor>h5 {
    font-weight: normal;
    font-weight: 200 !important;
    font-weight: normal;
}

.course-editor .lesson-pager {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.6em;
    margin: 1em 0;
}

.course-editor .lesson-pager .pager-link {
    font-size: 0.8em;
    text-decoration: none;
    font-weight: 100 !important;
    font-variant: small-caps;
    text-transform: uppercase;
    opacity: 66%;
    display: inline-block;
    padding: 0.3em 0.6em;
    margin: 1pt;
    border: none;
    outline: 1pt solid var(--oe-clr-border);
}

.course-editor .lesson-pager .pager-link:hover {
    outline: 1pt solid var(--oe-clr-highlight);
    opacity: 100%;
}

.course-editor .lesson {
    margin: 0;
    margin-bottom: 1em;
}

.course-editor .lesson h3 {
    display: flex;
    align-items: center;
}

.course-editor .lesson h3 .add-lesson-button-component {
    margin-left: auto;
}

.course-editor .cards {
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.card-holder {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border: 1pt solid var(--oe-clr-border);
    height: 100%;
    overflow: hidden;
}

.card-holder .card h2,
.card-holder .card h3 {
    font-size: 160%;
    text-align: center;
}

.course-editor .card-holder .card {
    font-size: 50%;
    min-width: 20em;
    max-width: 20em;
    height: 25em;
    overflow: hidden;
    pointer-events: none;
    padding: 0em 0.6em;
    margin: 0;
}

.card-holder .card * {
    pointer-events: none;
    background-color: unset;
    color: black;
    border-color: black;
}

.card-holder.dragging {
    cursor: grabbing;
}

.card-holder .card button,
.card-holder .card button.option-button {
    display: inline-block;
    width: unset;
    border: 1pt solid var(--oe-clr-bg);
}

.card-holder .card input {
    border: 1pt solid var(--oe-clr-bg);
}

.card-holder .card textarea.answer,
.card-holder .card .selected-words {
    margin: 0;
    border: 1pt solid black;
    width: 100%;
}

.card-holder .card .selected-words {
    margin-bottom: 1em;
}

.card-holder .card .vocab-match {
    font-size: 12pt;
    line-height: 18pt;
}

.card-holder .card .vocab-match.left-word {
    float: right;
    width: 100%;
    height: 2em;
}

.card-holder .card .vocab-match.right-word {
    float: left;
    width: 100%;
    height: 2em;
}

.card-holder #action-button,
.card-holder .card .letter-buttons button,
.course-editor .card footer:not(.modal-actions),
.course-editor .card footer.vocab-match-footer,
.card-holder .next-button,
.card-holder .correct-next-button,
.card-holder .incorrect-next-button {
    display: none;
}

.card-holder .card button {
    font-size: 150%;
}

.card-holder .card button.multiple-choice-button {
    margin-right: 0.3em;
    padding: 0.3em;
    border: 1px solid var(--oe-clr-bg);
}

.card-holder .card:hover {
    cursor: pointer;
}

.card-holder:hover {
    border-color: #555;
    cursor: pointer;
}

.card-holder .card.multiple-choice {
    background: teal;
}

.card-holder .card.vocab-match {
    background: steelblue;
}

.card-holder .card.writing-card {
    background: rgb(88, 180, 70);
}

.card-holder .card.writing-blocks-card {
    background: rgb(173, 180, 70);
    padding: 1em;
}

.card-holder .card.blanks-card {
    background: rgb(180, 92, 70);
}

.card-holder .vertical-controls {
    position: relative;
    width: 100%;
}

.card-holder .top-controls {
    top: 0;
}

.card-holder .horizontal-controls {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.card-holder .move-card-button {
    opacity: 49.5%;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: transparent;
    text-align: center;
    padding: var(--oe-ctrl-button-padding);
}

.card-holder .move-card-button:hover {
    outline: 0;
    opacity: 100%;
}

.card-holder:hover .move-card-button:not([disabled]),
.card-holder:hover .move-card-button:not([disabled]) {
    color: var(--oe-clr-fg);
}

.card-overlay-wrapper {
    position: relative;
    display: inline-block;
}

.card-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    filter: invert(100%);
    mix-blend-mode: overlay;
}

.card-overlay-wrapper:hover .card-overlay,
.card-overlay-wrapper:focus-within .card-overlay {
    opacity: 1;
}

.card-overlay button {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--oe-clr-card-bg);
    color: var(--oe-clr-card-fg);
    opacity: 0.8;
}

.card-overlay button:hover {
    background-color: var(--oe-clr-modal-bg);
    color: var(--oe-clr-modal-fg);
    opacity: 1;
}

.card-overlay button.control {
    font-size: 2em;
}

.card-overlay button.small-control {
    font-size: 1em;
}

.lesson>header h3 .large-icon-button {
    border: 1pt solid var(--oe-clr-border);
}

.no-lessons {
    border: 1pt solid var(--oe-clr-border);
    display: flex;
    align-items: center;
}

.no-lessons button {
    border: 3pt solid var(--oe-clr-border);
    font-size: xx-large;
}