.lesson h2 {
    margin-top: 0.3em;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1em;
    opacity: 60%;
}

.lesson h2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.lesson h2 em {
    font-weight: normal;
    font-style: normal;
}

.lesson .close-button {
    float: right;
    text-align: center;
    font-size: 1.8em;
    padding: 1pt 4pt;
    border-radius: 50%;
    margin: 0;
    margin-right: -0.3em;
    border: none;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lesson .close-button:hover {
    background-color: var(--oe-clr-fg);
    color: var(--oe-clr-bg);
}

.lesson .close-button::after {
    content: '×';
}