main {
    display: flex;
    flex-direction: column;
    max-width: var(--oe-max-width);
    margin: 0 auto;
    padding-top: 0;
    font-family: 'Work Sans';
    height: 100%;
}

main,
main * {
    box-sizing: border-box;
    color: var(--oe-clr-fg);
    background-color: var(--oe-clr-bg);
    border-radius: var(--oe-border-radius);
}

@media (min-width: 1024px) {
    main {
        padding-top: 1em;
    }
}

.correct-answer-alt,
.incorrect-answers-alt,
.questions-answered-alt {
    display: none;
}