#main {
    display: flex;
    flex-direction: column;
    max-width: var(--oe-max-width);
    width: clamp(0px, var(--oe-max-width), 100vw);
    height: 100vh;
    margin: 0 auto;
    padding-top: 0;
    padding: 10pt;
    color: var(--oe-clr-fg);
    font-family: 'Work Sans';
    border-radius: var(--oe-border-radius);
}

#main,
#main * {
    box-sizing: border-box;
    border-radius: var(--oe-border-radius);
}

@media (min-width: 1024px) {
    #main {
        padding-top: 1em;
    }
}

#main article {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* padding: 10pt; */
}

#main footer {
    width: 100%;
}

#main .card {
    color: var(--oe-clr-card-fg);
    background-color: var(--oe-clr-card-bg);
    border: 1pt solid var(--oe-clr-border);
    margin: 1em 0;
    margin-top: 0;
    padding: 1em;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main .card:last-child {
    margin-bottom: 0;
}

#main .card.no-border {
    border-color: transparent;
    padding: 0;
}

#main .card.no-set-height {
    flex: unset;
    height: auto;
    min-height: 3em;
}

#main .card * {
    background-color: var(--oe-clr-card-bg);
}

#main h3.question {
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: normal;
}

#main .correct,
#main .incorrect {
    color: var(--oe-clr-fg);
}

#main .correct {
    background-color: var(--oe-clr-correct-bg);
}

#main .incorrect {
    background-color: var(--oe-clr-incorrect-bg);
}

#main .shake {
    color: white;
    background-color: var(--oe-clr-incorrect-bg);
}

#main .correct-next-button,
#main .incorrect-next-button,
#main .try-again-button,
#main .next-button {
    text-align: center;
    width: 100%;
    background-color: var(--oe-clr-primary-bg);
    color: var(--oe-clr-primary-fg);
}

#main .next-button {
    background-color: var(--oe-clr-primary-bg);
}

#main .correct-next-button {
    background-color: var(--oe-clr-highlight-success-bg);
    color: var(--oe-clr-highlight-success-fg);
}

#main .incorrect-next-button,
#main .try-again-button {
    background-color: var(--oe-clr-incorrect-bg);
}

#main .card textarea {
    color: var(--oe-clr-fg);
    background-color: var(--oe-clr-bg);
}

#main .large-icon-button {
    cursor: pointer;
    font-size: 150%;
    font-weight: 100;
    opacity: 66%;
    color: var(--oe-clr-fg);
    border-radius: 50%;
    min-width: 1em;
    min-height: 1em;
    max-width: 1em;
    max-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    margin: 0;
    border: none;
    color: var(--oe-clr-question-button-fg);
    background-color: var(--oe-clr-question-button-bg);
}

#main .large-icon-button:hover {
    outline: none !important;
    font-weight: bolder;
    opacity: 90%;
}

#main .large-icon-button.selected {
    color: var(--oe-clr-highlight-success-bg);
}

#main button.correct[disabled],
#main button.incorrect[disabled] {
    opacity: 0.6;
    filter: brightness(80%);
}

#main button[disabled]:hover {
    cursor: default;
}

#main button.selected {
    border-color: var(--oe-clr-fg);
    filter: brightness(160%);
    border-color: var(--oe-clr-primary-bg);
}

#main button.selected[disabled] {
    filter: brightness(70%);
    opacity: 80%;
}

#main [lang="ang"] {
    font-family: 'Junicode', serif;
    font-style: italic;
    font-size: 150%;
    line-height: 80%;
}

#main [lang="ang"] input,
#main [lang="ang"] textarea,
#main input[lang="ang"],
#main textarea[lang="ang"] {
    font-style: oblique;
}

#main [lang="en"] {
    font-family: 'Work Sans', sans;
}

[hidden] {
    display: none;
}

#main p {
    padding: 1em 0;
    margin: 0;
}

#main button,
#main a {
    color: var(--oe-clr-fg);
    background-color: var(--oe-clr-bg);
    cursor: pointer;
}

#main button {
    text-align: left;
    font-size: 125%;
    border: 1pt solid var(--oe-clr-border);
    padding: 0.3em;
    cursor: pointer;
    transition: background-color var(--oe-fade-duration) var(--oe-fade-timing), filter var(--oe-fade-duration) var(--oe-fade-timing);
}

#main button:not([disabled]):hover {
    outline: 1px solid var(--oe-clr-fg);
}

#main footer button {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#main h2 {
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#main h3 {
    font-weight: 200;
    font-size: 1em;
    margin: 0.3em 0 0.6em 0;
}

#main h4 {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    opacity: 60%;
}


#main dialog:modal {
    background-color: var(--oe-clr-modal-bg);
    color: var(--oe-clr-modal-fg);
    padding: 1em;
    font-size: 130%;
}